$rootColor: #f9fafb;
$primaryColor: #1b152b;
$secondryColor: #7f56d9;
$secondryColor2: #c7a0f9;
$textGray: #7a7d9c;
$LinearColor: linear-gradient(
  90deg,
  #e9d8ff -195.88%,
  rgba(255, 255, 255, 0) 364.12%,
  #29252e 364.12%
);

$btnColor: rgba(27, 21, 43, 1);

$font_sm: 16px;
$font_md: 24px;
$font_lg: 48px;
$font_xl: 72px;

$marginTop_sm: 30px;
$marginTop_md: 40px;
$marginTop_lg: 60px;
$marginTop_xl: 80px;
$marginTop_xxl: 100px;

$radius_lt: 16px;
$radius_sm: 22px;
$radius_md: 32px;
$radius-lg: 48px;

$brd: 1px solid rgba(239, 240, 246, 1);
