* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 475px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}
.container .header {
  background-color: #1b152b;
  height: 60px;
  border-radius: 47px;
  padding: 0px 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 475px) {
  .container .header .header-icon {
    width: 92px;
    height: 13px;
  }
}
.container .header ul {
  display: flex;
  gap: 30px;
}
@media (max-width: 475px) {
  .container .header ul li {
    display: none;
  }
}
.container .header ul li a {
  color: rgb(255, 255, 255);
}
.container .header .header-btn {
  width: 137px;
  height: 35px;
  background-color: #7f56d9;
  color: #f9fafb;
  border-radius: 20px;
  font-size: 16px;
  border: none;
}
@media (max-width: 475px) {
  .container .header .header-btn {
    display: none;
  }
}
@media (min-width: 476px) {
  .container .header .res-icon {
    display: none;
  }
}
.container .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .main-container .content-one {
  display: flex;
  justify-content: center;
}
.container .main-container .content-one .content-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.container .main-container .content-one .content-inner .span1 {
  display: flex;
  width: 1058px;
  height: 174px;
  font-size: 72px;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .main-container .content-one .content-inner .span1 {
    width: 296px;
    height: 87px;
    font-size: 24px;
  }
}
.container .main-container .content-one .content-inner .span2 {
  font-size: 16px;
  color: #7a7d9c;
}
@media (max-width: 475px) {
  .container .main-container .content-one .content-inner .span2 {
    width: 304px;
    height: 17px;
    font-size: 12px;
  }
}
.container .main-container .content-one .content-inner .btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container .main-container .content-one .content-inner .btn-container .btn1 {
  width: 108px;
  height: 35px;
  background-color: rgb(27, 21, 43);
  color: #f9fafb;
  font-size: 16px;
  border-radius: 20px;
  border: none;
}
@media (max-width: 475px) {
  .container .main-container .content-one .content-inner .btn-container .btn1 {
    width: 61px;
    height: 27px;
    font-size: 12px;
  }
}
.container .main-container .content-one .content-inner .btn-container .btn2 {
  width: 137px;
  height: 35px;
  background-color: #7f56d9;
  color: #f9fafb;
  border-radius: 20px;
  font-size: 16px;
  border: none;
}
@media (max-width: 475px) {
  .container .main-container .content-one .content-inner .btn-container .btn2 {
    width: 85px;
    height: 27px;
    font-size: 12px;
  }
}
.container .main-container .content-one .content-inner .hero-image {
  margin-top: 60px;
}
.container .main-container .content-one .content-inner .hero-image img {
  width: 1058px;
  height: 388px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 98115.46px;
}
@media (max-width: 475px) {
  .container .main-container .content-one .content-inner .hero-image img {
    width: 304px;
    height: 245px;
    border-radius: 16px;
  }
}
.container .main-container .content-one .content-inner .ratings {
  display: flex;
  gap: 100px;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .main-container .content-one .content-inner .ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
}
.container .main-container .content-one .content-inner .ratings h1 {
  font-size: 48px;
  color: #7f56d9;
}
@media (max-width: 475px) {
  .container .main-container .content-one .content-inner .ratings h1 {
    font-size: 20px;
  }
}
.container .main-container .content-one .content-inner .ratings h4 {
  font-size: 24px;
  color: #7f56d9;
}
@media (max-width: 475px) {
  .container .main-container .content-one .content-inner .ratings h4 {
    font-size: 16px;
  }
}
.container .main-container .content-two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 100px;
}
@media (max-width: 475px) {
  .container .main-container .content-two {
    width: 303px;
    height: 1255px;
    margin-top: 10px;
  }
}
.container .main-container .content-two .content-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
@media (max-width: 475px) {
  .container .main-container .content-two .content-inner {
    width: 303px;
    height: 1086px;
  }
}
.container .main-container .content-two .content-inner span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 30px;
  border-radius: 22px;
  background-color: #e9d8ff;
  color: #7f56d9;
  font-size: 16px;
}
.container .main-container .content-two .content-inner h1 {
  font-size: 48px;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .main-container .content-two .content-inner h1 {
    width: 295px;
    height: 58px;
    font-size: 24px;
  }
}
.container .main-container .content-two .content-inner h4 {
  font-size: 16px;
  color: #7a7d9c;
  margin-top: 16px;
}
@media (max-width: 475px) {
  .container .main-container .content-two .content-inner h4 {
    font-size: 12px;
  }
}
.container .main-container .content-two .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 22px;
  width: 1058px;
  height: 422px;
  gap: 30px;
}
@media (max-width: 475px) {
  .container .main-container .content-two .cards {
    display: flex;
    flex-direction: column;
    width: 287px;
    height: 1023px;
    margin-top: 5px;
  }
}
.container .main-container .content-two .cards h1 {
  width: 228px;
  height: 58px;
  font-size: 24px;
  margin-top: 10px;
}
.container .main-container .content-two .cards h4 {
  width: 231px;
  height: 132px;
  font-size: 16px;
  color: #7a7d9c;
  margin-top: 10px;
}
.container .main-container .content-two .info-btn-container {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}
.container .main-container .content-two .info-btn-container .contact-btn1 {
  width: 137px;
  height: 35px;
  background-color: #7f56d9;
  color: #f9fafb;
  border-radius: 20px;
  font-size: 16px;
  border: none;
}
.container .main-container .content-two .info-btn-container .contact-btn2 {
  background: transparent;
  border: none;
  font-size: 16px;
}
.container .main-container .content-three {
  display: flex;
  justify-content: center;
  width: 1058px;
  height: 534px;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 16px;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .main-container .content-three {
    display: flex;
    flex-direction: column;
    width: 311px;
    height: 850px;
  }
}
.container .main-container .content-three .tree-spn {
  display: flex;
  position: relative;
}
.container .main-container .content-three .tree-spn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 30px;
  border-radius: 22px;
  background-color: #e9d8ff;
  color: #7f56d9;
  font-size: 16px;
  position: absolute;
  top: 35px;
  left: 5px;
}
@media (max-width: 475px) {
  .container .main-container .content-three .tree-spn span {
    display: flex;
    position: absolute;
    top: -10px;
    left: 17px;
    width: 170px;
    height: 25px;
  }
}
.container .main-container .content-three .content-three-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 475px) {
  .container .main-container .content-three .content-three-container {
    display: flex;
    flex-direction: column-reverse;
    width: 311px;
    height: 802px;
  }
}
.container .main-container .content-three .content-three-container .content-three-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .main-container .content-three .content-three-container .content-three-inner h1 {
  width: 501px;
  height: 132px;
  font-size: 36px;
}
@media (max-width: 475px) {
  .container .main-container .content-three .content-three-container .content-three-inner h1 {
    width: 279px;
    height: 72px;
    font-size: 20px;
  }
}
.container .main-container .content-three .content-three-container .content-three-inner h4 {
  width: 501px;
  height: 144px;
  color: #7a7d9c;
  font-size: 16px;
}
@media (max-width: 475px) {
  .container .main-container .content-three .content-three-container .content-three-inner h4 {
    width: 279px;
    height: 136px;
    font-size: 12px;
  }
}
.container .main-container .content-three .content-three-container .content-three-inner .btn-container-three {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .main-container .content-three .content-three-container .content-three-inner .btn-container-three .btn-signup {
  width: 49px;
  height: 19px;
  background: transparent;
  border: none;
  font-size: 16px;
  color: #7f56d9;
}
@media (max-width: 475px) {
  .container .main-container .content-three .content-three-container .content-three-inner .btn-container-three .btn-signup {
    width: 39px;
    height: 17px;
    font-size: 12px;
  }
}
.container .main-container .content-three .content-three-container .content-three-inner .btn-container-three .btn-contact {
  width: 137px;
  height: 35px;
  background-color: #7f56d9;
  color: #f9fafb;
  border-radius: 20px;
  font-size: 16px;
  border: none;
}
@media (max-width: 475px) {
  .container .main-container .content-three .content-three-container .content-three-inner .btn-container-three .btn-contact {
    width: 85px;
    height: 27px;
    font-size: 12px;
  }
}
.container .main-container .content-three .content-three-container .image2-container img {
  width: 489px;
  height: 448px;
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 475px) {
  .container .main-container .content-three .content-three-container .image2-container img {
    width: 279px;
    height: 448px;
  }
}
.container .main-container .content-four {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 40px;
}
.container .main-container .content-four .content-four-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
.container .main-container .content-four .content-four-inner span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 30px;
  border-radius: 22px;
  background-color: #e9d8ff;
  color: #7f56d9;
  font-size: 16px;
}
.container .main-container .content-four .content-four-inner h1 {
  width: 800px;
  height: 58px;
  font-size: 48px;
}
@media (max-width: 475px) {
  .container .main-container .content-four .content-four-inner h1 {
    width: 311px;
    height: 58px;
    font-size: 24px;
  }
}
.container .main-container .content-four .content-four-inner h4 {
  width: 720px;
  height: 44px;
  font-size: 16px;
  color: #7a7d9c;
}
@media (max-width: 475px) {
  .container .main-container .content-four .content-four-inner h4 {
    width: 311px;
    height: 51px;
    font-size: 12px;
  }
}
.container .main-container .content-four .content-four-clients .client-container {
  display: flex;
  justify-content: space-between;
  width: 1058px;
  margin-top: 30px;
}
@media (max-width: 475px) {
  .container .main-container .content-four .content-four-clients .client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    width: 311px;
    height: 164px;
  }
  .container .main-container .content-four .content-four-clients .client-container .icon-cnt1 {
    display: flex;
    gap: 30px;
  }
  .container .main-container .content-four .content-four-clients .client-container .icon-cnt2 {
    display: flex;
    gap: 53px;
  }
}
.container .main-container .content-four .content-four-clients .client-container .icon-cnt1 {
  display: flex;
  gap: 84px;
}
.container .main-container .content-four .content-four-clients .client-container .icon-cnt2 {
  display: flex;
  gap: 92px;
}
.container .main-container .content-five {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .main-container .content-five {
    display: none;
  }
}
.container .main-container .content-five .content-five-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1058px;
  height: 534px;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 16px;
  gap: 30px;
}
.container .main-container .content-five .content-five-container .content-five-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .main-container .content-five .content-five-container .content-five-inner span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 30px;
  border-radius: 22px;
  background-color: #e9d8ff;
  color: #7f56d9;
  font-size: 16px;
}
.container .main-container .content-five .content-five-container .content-five-inner h1 {
  width: 501px;
  height: 80px;
  font-size: 36px;
  color: #c7a0f9;
}
.container .main-container .content-five .content-five-container .content-five-inner h4 {
  width: 501px;
  height: 114px;
  color: #7a7d9c;
  font-size: 16px;
}
.container .main-container .content-five .content-five-container .content-five-inner .btn-container-five {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.container .main-container .content-five .content-five-container .image2-container img {
  width: 489px;
  height: 448px;
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .main-container .testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 100px;
}
@media (max-width: 475px) {
  .container .main-container .testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    margin-top: 0px;
    width: 313px;
    height: 925px;
  }
}
.container .main-container .testimonials span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 30px;
  border-radius: 22px;
  background-color: #e9d8ff;
  color: #7f56d9;
  font-size: 16px;
}
.container .main-container .testimonials h1 {
  font-size: 48px;
}
@media (max-width: 475px) {
  .container .main-container .testimonials h1 {
    width: 261px;
    height: 29px;
    font-size: 24px;
  }
}
.container .main-container .testimonials .testimonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1058px;
  height: 447px;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 16px;
  gap: 30px;
}
@media (max-width: 475px) {
  .container .main-container .testimonials .testimonials-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width: 311px;
    height: 770px;
  }
}
.container .main-container .testimonials .testimonials-container .testimonials-img img {
  width: 495px;
  height: 335px;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 475px) {
  .container .main-container .testimonials .testimonials-container .testimonials-img img {
    width: 297px;
    height: 335px;
  }
}
.container .main-container .testimonials .testimonials-container .testimonials-content {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.container .main-container .testimonials .testimonials-container .testimonials-content p {
  display: flex;
  text-align: justify;
  width: 440px;
  height: 171px;
  font-size: 16px;
  color: #7a7d9c;
}
@media (max-width: 475px) {
  .container .main-container .testimonials .testimonials-container .testimonials-content p {
    width: 297px;
    height: 266px;
  }
}
.container .main-container .testimonials .testimonials-container .testimonials-content .name-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.container .main-container .testimonials .testimonials-container .testimonials-content .name-container h1 {
  font-size: 24px;
}
@media (max-width: 475px) {
  .container .main-container .testimonials .testimonials-container .testimonials-content .name-container h1 {
    font-size: 16px;
  }
}
.container .main-container .testimonials .testimonials-container .testimonials-content .name-container h2 {
  font-size: 20px;
}
@media (max-width: 475px) {
  .container .main-container .testimonials .testimonials-container .testimonials-content .name-container h2 {
    font-size: 16px;
  }
}
.container .main-container .testimonials .testimonials-container .testimonials-content .testimonials-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .main-container .testimonials .testimonials-container .testimonials-content .testimonials-icons {
    height: 24px;
  }
}
.container .main-container .trustedBy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 40px;
}
.container .main-container .trustedBy .line-container {
  display: flex;
  align-items: center;
  width: 1058px;
}
@media (max-width: 475px) {
  .container .main-container .trustedBy .line-container {
    width: 313px;
  }
}
.container .main-container .trustedBy .line-container .line {
  flex-grow: 1;
  height: 1px;
  background-color: #7a7d9c;
  border: none;
}
.container .main-container .trustedBy .line-container .text {
  padding: 0 10px;
  color: #7a7d9c;
  font-size: 16px;
}
.container .main-container .trustedBy .trustedBy-logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
}
.container .main-container .trustedBy .trustedBy-logos-container .logos1 {
  display: flex;
  gap: 50px;
}
@media (max-width: 475px) {
  .container .main-container .trustedBy .trustedBy-logos-container .logos1 {
    display: flex;
    gap: 30px;
  }
  .container .main-container .trustedBy .trustedBy-logos-container .logos1 img {
    width: 85px;
    height: 24px;
  }
}
.container .main-container .trustedBy .trustedBy-logos-container .logos2 {
  display: flex;
  gap: 50px;
}
@media (max-width: 475px) {
  .container .main-container .trustedBy .trustedBy-logos-container .logos2 {
    display: flex;
    gap: 30px;
  }
  .container .main-container .trustedBy .trustedBy-logos-container .logos2 img {
    width: 85px;
    height: 24px;
  }
}
.container .main-container .blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main-container .blogs .blogs-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 100px;
}
.container .main-container .blogs .blogs-content span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 30px;
  border-radius: 22px;
  background-color: #e9d8ff;
  color: #7f56d9;
  font-size: 16px;
}
.container .main-container .blogs .blogs-content h1 {
  font-size: 48px;
  margin-top: 30px;
}
@media (max-width: 475px) {
  .container .main-container .blogs .blogs-content h1 {
    font-size: 24px;
  }
}
.container .main-container .blogs .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .main-container .blogs .cards-container {
    display: flex;
    flex-direction: column;
    width: 313px;
  }
}
.container .main-container .blogs .cards-container .cards-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 332px;
  height: 565px;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 16px;
}
@media (max-width: 475px) {
  .container .main-container .blogs .cards-container .cards-content {
    display: flex;
    align-items: end;
    width: 313px;
  }
}
.container .main-container .blogs .cards-container .cards-content .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
  width: 292px;
  height: 505px;
}
@media (max-width: 475px) {
  .container .main-container .blogs .cards-container .cards-content .cards {
    margin-top: 1px;
  }
}
.container .main-container .blogs .cards-container .cards-content .cards .card-img {
  display: flex;
  justify-content: center;
}
.container .main-container .blogs .cards-container .cards-content .cards .card-img img {
  width: 292.67px;
  height: 220px;
  border-radius: 8px;
}
@media (max-width: 475px) {
  .container .main-container .blogs .cards-container .cards-content .cards .card-img img {
    width: 273px;
    height: 220px;
  }
}
.container .main-container .blogs .cards-container .cards-content .cards .card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 30px;
  border-radius: 48px;
  background-color: #c7a0f9;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.container .main-container .blogs .cards-container .cards-content .cards .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .main-container .blogs .cards-container .cards-content .cards .card-content h2 {
  font-size: 20px;
}
.container .main-container .blogs .cards-container .cards-content .cards .card-content h4 {
  font-size: 16px;
  color: #7a7d9c;
}
.container .main-container .blogs .cards-container .cards-content .read-more {
  display: flex;
  padding-left: 200px;
  margin-top: 10px;
}
@media (max-width: 475px) {
  .container .main-container .blogs .cards-container .cards-content .read-more {
    padding-right: 10px;
  }
}
.container .main-container .blogs .cards-container .cards-content .read-more a {
  font-size: 16px;
  text-decoration: underline;
  color: #7a7d9c;
}
.container .main-container .blogs .info-btn-container {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}
.container .main-container .blogs .info-btn-container .contact-btn1 {
  width: 137px;
  height: 35px;
  background-color: #7f56d9;
  color: #f9fafb;
  border-radius: 20px;
  font-size: 16px;
  border: none;
}
.container .main-container .blogs .info-btn-container .contact-btn2 {
  background: transparent;
  border: none;
  font-size: 16px;
}
.container .main-container .email-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.container .main-container .email-section .content-email {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url(../assets/img/image5.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  width: 1058px;
  height: 570px;
  border-radius: 24px;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .main-container .email-section .content-email {
    width: 310px;
    height: 570px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.container .main-container .email-section .content-email .email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 475px) {
  .container .main-container .email-section .content-email .email-container .vector-email img {
    width: 48px;
    height: 46px;
  }
}
.container .main-container .email-section .content-email .email-container .email-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
.container .main-container .email-section .content-email .email-container .email-text-container h1 {
  font-size: 48px;
  color: #f9fafb;
}
@media (max-width: 475px) {
  .container .main-container .email-section .content-email .email-container .email-text-container h1 {
    font-size: 20px;
  }
}
.container .main-container .email-section .content-email .email-container .email-text-container h3 {
  width: 410.12px;
  height: 49.8px;
  font-size: 20px;
  color: #f9fafb;
}
@media (max-width: 475px) {
  .container .main-container .email-section .content-email .email-container .email-text-container h3 {
    width: 284px;
    height: 49.8px;
    font-size: 12px;
  }
}
.container .main-container .email-section .content-email .email-container .email-input {
  display: inline-flex;
  position: relative;
}
@media (max-width: 475px) {
  .container .main-container .email-section .content-email .email-container .email-input {
    display: flex;
    position: unset;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.container .main-container .email-section .content-email .email-container .email-input input {
  width: 470px;
  height: 48px;
  border-radius: 12px;
  border: none;
  padding-left: 20px;
}
@media (max-width: 475px) {
  .container .main-container .email-section .content-email .email-container .email-input input {
    width: 283px;
    height: 48px;
  }
}
.container .main-container .email-section .content-email .email-container .email-input .input-button {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 209px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background-color: #7f56d9;
  color: #f9fafb;
  font-size: 16px;
}
@media (max-width: 475px) {
  .container .main-container .email-section .content-email .email-container .email-input .input-button {
    position: unset;
    transform: none;
    width: 209px;
    height: 42px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #a182e4;
  height: 265px;
  margin-top: 100px;
}
.footer .hr {
  width: 1148px;
}
@media (max-width: 475px) {
  .footer .hr {
    width: 285px;
  }
}
.footer .footer-content1 {
  display: flex;
  justify-content: space-between;
  width: 1148px;
  padding: 40px 0px;
}
@media (max-width: 475px) {
  .footer .footer-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 285px;
    height: 62px;
  }
}
.footer .footer-content1 .footer-list-container ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 475px) {
  .footer .footer-content1 .footer-list-container ul {
    display: flex;
    gap: 10px;
  }
}
.footer .footer-content1 .footer-list-container ul a {
  color: #f9fafb;
  font-size: 16px;
}
@media (max-width: 475px) {
  .footer .footer-content1 .footer-list-container ul a {
    width: 257px;
    height: 22px;
  }
}
.footer .footer-content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1148px;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .footer .footer-content2 {
    width: 285px;
    margin-top: 10px;
  }
}
.footer .footer-content2 span {
  font-size: 16px;
  color: #f9fafb;
}
@media (max-width: 475px) {
  .footer .footer-content2 span {
    width: 251px;
    height: 17px;
    font-size: 12px;
  }
}
.footer .footer-content2 .footer-icon-container {
  display: flex;
  gap: 20px;
  height: 16px;
}
@media (max-width: 475px) {
  .footer .footer-content2 .footer-icon-container {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */